
<div class="app-header">
  <h1 class="header-icon">🛒</h1>
  <h1>All services</h1>
</div>

<div class="body-container">


  <% @services.each do |service| %>

    <div class="service-card-with-user">
      <div class="event-card-avatars">
        <div class="service-card-avatars-user">
          <img src="https://images.unsplash.com/photo-1479936343636-73cdc5aae0c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" alt="image" class="avatar-large">
        </div>
      </div>
      <div>
        <div class="service-card-labels">
          <p class= "label-base label-service-type"><%= service.typology %></p>
          <% if service.price %>
            <p class= "label-base label-price"><%=service.price%>€</p>
          <% else %>
            <p class= "label-base label-price">Free</p>
          <% end %>
          <% if service.available %>
            <p class= "label-base label-available">available now</p>
          <% else %>
            <p class= "label-base label-not-available">not available</p>
          <% end %>
        </div>
        <div class="service-card-body">
          <div class="service-card-body-elements">
            <div class="service-card-body-elements-header">
              <h2><%= service.name %></h2>
              <% @user = User.find(service.user_id) %>
              <p><%= @user.first_name %> <%= @user.last_name %></p>
            </div>
            <div class="service-card-body-elements-body">
              <p><%= service.description %> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
