<%
filters = params.permit(:available, :loan, :service)
available = params[:available] == "true"
loan = params[:loan] == "true"
service = params[:service] == "true"
%>


<div class="app-header">
  <%= render "shared/header" %>
  <h1 class="header-icon" >🛒</h1>
    <h2 class="text-center pt-0 test2">Services</h2>
</div>


<div class="body-container">
  <br>
<div><%= render "shared/searchbar" %> </div>
<br>



  <div class="row-service mt-2 mb-2">

      <%= link_to "Loan", services_path(filters.merge(loan: !loan)), class: "btn btn-radius-service #{ params[:loan] == "true" ? "btn-green" : "btn-white-service" }" %>

      <%= link_to "Service", services_path(filters.merge(service: !service)), class: "btn btn-radius-service #{ params[:service] == "true" ? "btn-green" : "btn-white-service" }" %>

      <%= link_to "Available", services_path(filters.merge(available: !available)), class: "btn btn-radius-service #{ params[:available] == "true" ? "btn-green" : "btn-white-service" }" %>

  </div>




<br>
  <% @services.each do |service| %>

    <div class="service-card-with-user mb-3">
      <div style="display:block; width:100%;">
        <div class="service-card-body">
          <div>
            <div class="service-card-body-elements-header">
              <div class="event-card-avatars">
                <div>
                  <%= image_tag service.user.photo, class:"avatar-large" %>
                </div>
              </div>
              <div>
                <h2><%= service.name %></h2>
                <% @user = User.find(service.user_id) %>
                <p><%= @user.first_name %> <%= @user.last_name %></p>
              </div>
            </div>
            <div class="service-card-body-elements-body">
              <p><%= service.description %> </p>
            </div>
            <div class="service-card-labels">
              <p class= "label-service-type"><%= service.typology %></p>
              <% if service.price %>
                <p class= "label-base label-price"><%=service.price%>€</p>
              <% else %>
                <p class= "label-base label-price">Free</p>
              <% end %>
              <% if service.available %>
                <p class= "label-base label-available">available now</p>
              <% else %>
                <p class= "label-base label-not-available">not available</p>
              <% end %>
              <div>
                <%= link_to new_direct_message_path(query: params[:query], user_id: @user.id) do %>
                   <i class="fas fa-comments fa-comments-user"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
