<%
filters = params.permit(:available, :loan, :service)
available = params[:available] == "true"
loan = params[:loan] == "true"
service = params[:service] == "true"
%>


<div class="app-header">
  <%= render "shared/header" %>
  <h1 class="header-icon">🛒</h1>
  <h1>Services</h1>
</div>

<div class="body-container">

<div class= "filter-container">
  <div class="filter-container-content">
    <div class="list-inline">
      <a><%= link_to "Loan", services_path(filters.merge(loan: !loan)), class: "btn-radius #{ params[:loan] == "true" ? "btn-green" : "btn-white" }" %></a>
      <a><%= link_to "Service", services_path(filters.merge(service: !service)), class: "btn-radius #{ params[:service] == "true" ? "btn-green" : "btn-white" }" %></a>
      <a><%= link_to "Available", services_path(filters.merge(available: !available)), class: "btn-radius #{ params[:available] == "true" ? "btn-green" : "btn-white" }" %></a>
    </div>
  </div>
</div>
  <% @services.each do |service| %>

    <div class="service-card-with-user">
      <div class="event-card-avatars">
        <div class="service-card-avatars-user">
          <%= image_tag service.user.photo, class:"avatar-large" %>
        </div>
      </div>
      <div>
        <div class="service-card-body">
          <div class="service-card-body-elements">
            <div class="service-card-body-elements-header">
              <h2><%= service.name %></h2>
              <% @user = User.find(service.user_id) %>
              <p><%= @user.first_name %> <%= @user.last_name %></p>
            </div>
            <div class="service-card-body-elements-body">
              <p><%= service.description %> </p>
            </div>
            <div class="service-card-labels">
              <p class= "label-service-type"><%= service.typology %></p>
              <% if service.price %>
                <p class= "label-base label-price"><%=service.price%>€</p>
              <% else %>
                <p class= "label-base label-price">Free</p>
              <% end %>
              <% if service.available %>
                <p class= "label-base label-available">available now</p>
              <% else %>
                <p class= "label-base label-not-available">not available</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
