<div class="app-header">
  <%= render "shared/header" %>
  <h1 class="page-illu"> <%= cl_image_tag "https://res.cloudinary.com/dk85eoleo/image/upload/c_scale,w_150/v1606734186/Stuck_at_Home_-_Searching_uwcxkm.png", alt: "alttext" %> </h1>
    <h2 class="text-center pt-0 test2">All Neighbours</h2>
</div>


<div class= "body-container">
<div class="searchbar ">
    <%= form_tag users_path, method: :get, class: "w-100" do %>
  <div class="d-flex">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control-search string required search_query simple_form round-border",
        placeholder: "Search by name, floor, ..."
      %>
      <%= submit_tag "Search", class: "btn btn-green btn-radius-search" %>
      <% end %>
    </div>

</div>

  <br>
  <!-- <div class="container"> -->
    <div id="flexbox-users" class="text-center justify-content-between">
      <% @users.each do |user|  %>
        <div class="profile-card mb-2">
          <div class="profile-card-elements">
            <%= link_to user_path(user), class:"deco-non" do %>
              <% if user.photo.attached? %>
                <%= image_tag user.photo, class:"avatar-large-user" %>
              <% else %>
                <%= image_tag "avatar-standard.png", class:"avatar-large-user" %>
              <% end %>
              <% if user.first_name && user.last_name %>
                <h2><%= user.first_name %> <br> <%= user.last_name %></h2>
              <% else %>
                <p><em> Unknown </em></p>
              <% end %>

              <% if user.stairs == 1 %>
                <p><%= user.stairs %>st floor</p>
              <% elsif user.stairs == 2 %>
                <p><%= user.stairs %>nd floor</p>
              <% elsif user.stairs == 3 %>
                <p><%= user.stairs %>rd floor</p>
              <% elsif user.stairs.to_i >= 4 %>
                <p><%= user.stairs %>th floor</p>
              <% else %>
                <p><em> Unknow </em></p>
              <% end %>
            <% end %>
          </div>
        </div>
     <% end %>
    </div>
  </div>

</div>
