<div class="app-header">
  <div classe="flexbox-user">

    <div class="link-back-to fleche">
      <%= link_to users_path do %>
        <div class="back-to-page d-flex">
          <i class="fas fa-chevron-left fas-post"></i>
        </div>
      <% end %>

    </div>
    <div>
      <%= render "shared/header" %>
    </div>
  </div>

</div>

<div class="body-container">
  <div class="profile-info-card">
    <div class="profile-info-card-avatar-user">
      <% if @user.photo.attached? %>
        <%= image_tag @user.photo, class:"avatar-xxl profile-avatar-position-user"%>
      <% else %>
        <%= image_tag "avatar-standard.png", class:"avatar-xxl profile-avatar-position-user" %>
      <% end %>
    </div>
<br>
    <div class="profile-info-card-text">
      <div class="profile-info-card-text-intro">
        <strong><%= @user.first_name %> <%= @user.last_name %></strong>
        <br>
        <%= link_to new_direct_message_path(query: params[:query], user_id: @user.id) do %>
            <i class="fas fa-comments"></i>
        <% end %>
        <p><em><%=  @user.catch_phrase %></em></p>
      </div>

      <div class="profile-info-card-text-details">
        <% if @user.job %>
          <p>💼: <%= @user.job %> </p>
        <% else %>
          <p>💼: <em>unknow</em> </p>
        <% end %>

        <% if @user.hobbies %>
          <p>❤️: <%= @user.hobbies %></p>
        <% else %>
          <p>❤️: <em>unknow</em> </p>
        <% end %>

        <% if @user.phone_number %>
          <p>☎️: <%= @user.phone_number %> </p>
        <% else %>
          <p>☎️: <em>DM me</em> </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<br>


  <h4 class="mb-3 user-show">Services</h4>
  <% if @user.services.blank? %>
    <p> <em> nothing to show </em></p>
  <% else %>
    <% @user.services.each do |service| %>
      <div class="service-card-with-user mb-3">
      <div style="display:block; width:100%;">
        <div class="service-card-body">
          <div>
            <div class="service-card-body-elements-header">
                <h2><%= service.name %></h2>
                <% @user = User.find(service.user_id) %>
                <p><%= @user.first_name %> <%= @user.last_name %></p>
            </div>
            <div class="service-card-body-elements-body">
              <p><%= service.description %> </p>
            </div>
            <div class="service-card-labels">
              <p class= "label-service-type"><%= service.typology %></p>
              <% if service.price %>
                <p class= "label-base label-price"><%=service.price%>€</p>
              <% else %>
                <p class= "label-base label-price">Free</p>
              <% end %>
              <% if service.available %>
                <p class= "label-base label-available">available now</p>
              <% else %>
                <p class= "label-base label-not-available">not available</p>
              <% end %>
              <div>
                <%= link_to new_direct_message_path(query: params[:query], user_id: @user.id) do %>
                   <i class="fas fa-comments fa-comments-user"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>




  <h4 class="mb-3 user-show">Posts</h4>
  <% if @user.posts.blank? %>
    <p> <em> No posts! </em></p>
  <% else %>
    <% @user.posts.each do |post| %>
      <div class="post-card">
        <div class="post-card-header">
          <div class="post-card-header-avatar">
            <%= image_tag post.user.photo, class:"avatar-large" %>
          </div>
          <div class="post-card-header-title">
            <p class="post-user-name"><%= post.user.first_name %></p>
            <p class="post-date"><%= post.created_at.strftime("%b %e - %H:%M") %></p>
          </div>
        </div>
        <div class="post-card-body">
          <p class="post-title"><%= post.title %></p>
          <p class="post-content"><%= post.content %></p>
        </div>
          <div class="post-card-bottom d-flex justify-content-between">
            <div class="d-flex align-items-center">
              <span data-controller="like" class="post-likes">
                <% if current_user.voted_for? post %>
                  <%= link_to "", like_post_path(post), class:"fas fa-thumbs-up", data: {action:"click->like#post"}, method: :put, remote: :true %>
                <% else %>
                  <%= link_to "", like_post_path(post), class:"far fa-thumbs-up", data: {action:"click->like#post"}, method: :put, remote: :true %>
                <% end %>
                <span data-target="like.count" class="post-results"><%= post.get_likes.size %></span>
              </span>
            <div class="d-flex ml-3"></div>
            <div><%= link_to "", post_path(post), class:"fas fa-comment card-bottom-icon"%></div>
            <p class="post-results"><%= post.comments.size %></p>
            </div>
            <p class= "label-base label-post-type"> <%= post.category%></p>
          </div>
        </div>
    <% end %>
  <% end %>

  <h4 class="mb-3 user-show">Events</h4>
  <% if @user.events.blank? %>
    <p> nothing to show </p>
  <% else %>
    <% @user.events.each do |event| %>
    <div class="event-card">
    <div>
      <% if event.photo.attached? %>
        <%= image_tag event.photo, class:"event-image"%>
      <% else %>
        <%= image_tag "save_the_date.png", class:"event-image" %>
      <% end %>
    </div>
    <div class="event-body">
      <div class="d-flex align-items-start">
        <div class="event-date">
          <p class="month"><%= event.starting_at.strftime("%b.") %></p>
          <% if event.starting_at.strftime("%d") == "01" %>
            <p class="day"><%= event.starting_at.strftime("%dst") %></p>
          <% elsif event.starting_at.strftime("%d") == "02"  %>
            <p class="day"><%= event.starting_at.strftime("%dnd") %></p>
          <% elsif event.starting_at.strftime("%d") == "03"  %>
            <p class="day"><%= event.starting_at.strftime("%drd") %></p>
          <% else %>
            <p class="day"><%= event.starting_at.strftime("%dth") %></p>
          <% end %>
        </div>
        <div class="event-text">
          <h3> <%= event.title %> </h3>
          <p class="event-description"><%= event.description %> </p>
          <p class="event-user">by <%= event.user.first_name %> <%= event.user.last_name %> </p>
          <div class="info-icons">
            <div class="event-card-text-bottom location-width">
              <i class="fas fa-map-marker-alt event-card-bottom-icon"></i><p class="location"><%= event.location %></p>
            </div>
            <div class="event-card-text-bottom hour-width">
              <i class="fas fa-clock event-card-bottom-icon"></i><p class="hour"><%= event.starting_at.strftime("%H:%M") %></p>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex event-card-bottom">
        <i class="fas fa-thumbs-up"></i><p>11</p>
        <i class="fas fa-comment card-bottom-icon"></i><p>18</p>
        </div>
      </div>
    </div>
  <% end %>

<% end %>
</div>
</div>

