
<div class="fixed-bottom">
  <%= link_to services_path, class:"deco-non-navbar" do %>
    <div class="plus-sign <%= 'active-nav' if params[:action] == 'choice' %>">
      <%= link_to choice_path, class:"deco-non-navbar" do %>
        <i class="fas fa-plus-circle"></i>
      <% end %>
    </div>
  <% end %>

  <div class="background">

      <div class="corner-left">
        <div class="nav-button <%= 'active-nav' if params[:action] == 'home' %>">
          <%= link_to root_path, class:"deco-non-navbar" do %>
            <i class="fas fa-building deco-non <%"active-nav" if current_page?(root_path)%>"></i>
            <p class="<%"active-nav" if current_page?(root_path)%>">Home</p>
          <% end %>
        </div>

      <div class="nav-button <%= 'active-nav' if params[:controller] == 'users' %>">
        <%= link_to users_path, class:"deco-non-navbar" do %>
          <i class="fas fa-users"></i>
          <p>Neighbours</p>
        <% end %>

      </div>
    </div>

    <div class="corner-right ">

      <div class="nav-button <%= 'active-nav' if params[:controller] == 'services' %>">
        <%= link_to services_path, class:"deco-non-navbar" do %>
          <i class="fas fa-hands-helping"></i>
          <p>Services</p>
        <% end %>
      </div>

      <div class="nav-button <%= 'active-nav' if params[:controller] == 'events' %>">
        <%= link_to events_path, class:"deco-non-navbar" do %>
          <i class="far fa-calendar-alt"></i>
          <p>Events</p>
        <% end %>
      </div>

    </div>
  </div>
</div>
