<div class="container">
  <div>
    <% posts.each do |post| %>
      <div class="post-card">
        <div class="post-card-header">
          <div class="post-card-header-avatar">
            <img src="https://images.unsplash.com/photo-1479936343636-73cdc5aae0c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" alt="image" class="avatar-large">
          </div>
          <div class="post-card-header-title">
              <h3><%= post.title %></h3>
              <p> By <%= post.user.first_name %>, posted on <%= post.created_at %></p>
          </div>
        </div>
        <div class="post-card-body">
          <p><%= post.content %></p>
        </div>
        <div class="post-card-bottom">
          <p>11</p><i class="fas fa-thumbs-up card-bottom-icon"></i>
          <p>18</p><i class="fas fa-comment card-bottom-icon"></i>
          <p class= "label-base label-post-type"><%= post.category%></p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
