
<h1>Events#index</h1>

<div class="container">
  <div>
    <%  @events.each do |event| %>


  <div class="event-card">
    <div class="event-card-avatars">
      <div class="event-card-avatars-date">
        <p class="month"><%= event.starting_at.strftime("%b.") %></p>
        <p class="day"><%= event.starting_at.strftime("%dth") %></p>
      </div>
      <div class="event-card-avatars-user">
        <img src="https://images.unsplash.com/photo-1479936343636-73cdc5aae0c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" alt="image" class="avatar-large">
      </div>
    </div>
    <div class="event-card-text">
      <div class="event-card-text-header">
        <div class="event-card-text-header-title">
          <h3><%= event.title %> </h3>
          <p>By <%= event.user.first_name%> <%= event.user.last_name%> <%= event.user.id %></p>
        </div>
        <div class="event-card-text-header-info">
          <div class="event-card-text-bottom">
            <i class="fas fa-map-marker-alt card-bottom-icon event-card-bottom-icon "></i><p><%= event.location %> </p>
          </div>
          <div class="event-card-text-bottom">
            <i class="fas fa-clock card-bottom-icon event-card-bottom-icon"></i><p><%= event.starting_at.strftime("%H:%M") %></p>
          </div>
        </div>
      </div>
      <div class="event-card-text-body">
        <p><%= event.description %></p>
      </div>
      <div class="post-card-bottom">
        <p>11</p><i class="fas fa-thumbs-up card-bottom-icon"></i>
        <p>18</p><i class="fas fa-comment card-bottom-icon"></i>
      </div>
    </div>
  </div>

  <br>
    <% end %>

  <div>
    <% if policy(Event).create? %>
    <%= link_to "New Event", new_event_path, class:"btn-radius btn-green " %>
    <% end %>
  </div>
  </div>


</div>
