
<h1>Events#index</h1>

<div class="container">
  <div>
    <%  @events.each do |event| %>
      <h3>  <%= event.id %> <%= event.title %></h3>
      <h5> <%= event.location %></h5>
      <p> <%= event.description %></p>
      <p> <%= event.starting_at %> </p>
       <p> <%= event.ending_at %> </p>
      <p>~~~~~~~~~~</p>
    <% end %>
  </div>

  <div>
    <% if policy(Event).create? %>
    <%= link_to "New Event", new_event_path %>
    <% end %>
  </div>

</div>
