
<div class="app-header">
  <h1 class="header-icon" > 📅 </h1>
  <h1>New event</h1>
</div>
<div class="container">


  <div >

    <%= simple_form_for @event do |f| %>
      <%= f.input :title, label: "Event name : ",placeholder: "(max 250 caracters)", input_html: { maxlength: 50 }, require: true %>
      <%= f.input :description, label: "Event description :", placeholder: "(max 250 caracters)"  %>
      <%= f.input :location %>
      <%= f.input :starting_at, label: 'Starting', as: :string, input_html: {class: "datepicker"} %>
      <%= f.input :ending_at, label: 'Ending', as: :string, input_html: {class: "datepicker"} %>
      <%= f.input :photo, as: :file, label: 'Add a photo', input_html: { class: 'd-none', id: 'photo-input'}, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo'  %>
      <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
      <%= f.button :submit, "Create", class: "btn-radius btn-green" %>
    <% end %>
  </div>
</div>
 

</div>

    
