
<div class="container mt-5">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
  <h1>Create an Event</h1>

    <%= simple_form_for @event do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :location %>
      <%= f.input :starting_at, as: :string, input_html: {class: "datepicker"} %>
      <%= f.input :ending_at, as: :string, input_html: {class: "datepicker"} %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, "Go", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


</div>


