
  <div class="text-center head-green mb-3"> <%= image_tag "calendrier", alt: "calendrier", class:"event-emo mt-3 mb-3" %>
  <h1>Add an Event</h1>
  </div>
<div class="container">


  <div >

    <%= simple_form_for @event do |f| %>
      <%= f.input :title, label: "Event name : ",placeholder: "(max 250 caracters)", input_html: { maxlength: 50 }, require: true %>
      <%= f.input :description, label: "Event description :", placeholder: "(max 250 caracters)"  %>
      <%= f.input :location %>
      <%= f.input :starting_at, label: 'Starting', as: :string, input_html: {class: "datepicker"} %>
      <%= f.input :ending_at, label: 'Ending', as: :string, input_html: {class: "datepicker"} %>
      <%= f.input :photo, as: :file, label: 'Add a photo', class: "btn-radius btn-green"  %>
      <%= f.button :submit, "Go", class: "btn-radius btn-green" %>
    <% end %>
  </div>
</div>
 

</div>

    
