<div class="message-container current_user" id="message-<%= message.id %>">
    <div class="message-card">
        <div class='message-body-user'>
          <p class="dm-sender">You</p>
          <small><%= message.created_at.strftime("at %k:%M on the %m/%e") %></small>
          <p class ="dm-content"><%= message.content %></p>
        </div>


        <div class="avatar-message-user">
          <% if message.user.photo.attached? %>
            <%= image_tag message.user.photo, class:"avatar"%>
          <% else %>
            <%= image_tag "avatar-standard.png", class:"avatar" %>
          <% end %>
        </div>

    </div>
  </div>
