
<div class="app-header">
  <%= render "shared/header" %>
  <h1 class="page-illu"> <%= cl_image_tag "https://res.cloudinary.com/dk85eoleo/image/upload/c_scale,w_250/v1606401573/Stuck_at_Home_-_Alone_Time_1_ekozdk.png", alt: "alttext" %> </h1>
  <% if current_user.first_name %>
    <h2 class="text-center pt-0 test2">Welcome home <br> <%= current_user.first_name %> !</h2>
  <% else %>
    <h2 class="text-center pt-0 test2">Welcome home!</h2>
  <% end %>
</div>


<div class="body-container">
    <div class="mt-3 mb-3"><%= render "shared/searchbar" %> </div>
    <div>
      <h2 class="text-center mt-4 home-title"> Recent posts 💬 </h2>
      <div><%= render "shared/post", posts: @posts %></div>
      <div class="text-center mt-4">  <%= link_to "See all posts", posts_path, class:"btn-white btn-radius btn-block" %> </div>

  <br>
    <div>
      <h2 class="text-center mt-4 mb-2 home-title"> Upcoming events 📅</h2>
      <div><%= render "shared/event_home", events: @events %>
      </div>
    </div>
    </div>
</div>


