<%
filters = params.permit(:sos, :tips, :fyi, :lost_founds, :issues)
sos = params[:sos] == "true"
tips = params[:tips] == "true"
fyi = params[:fyi] == "true"
issues = params[:issues] == "true"
lost_founds = params[:lost_founds] == "true"
%>

<div class="app-header">
  <%= render "shared/header" %>
  <h1 class="header-icon">💬</h1>
  <h1>All posts</h1>
</div>

<div class="body-container">

<div class= "filter-container">
  <div class="filter-container-content">
    <div class="list-inline">
      <a><%= link_to "SOS", posts_path(filters.merge(sos: !sos)), class: "btn-radius-small #{if params[:sos] == "true"
        "btn-green"
      else
        "btn-white"
      end}" %></a>

      <a><%= link_to "FYI", posts_path(filters.merge(fyi: !fyi)), class: "btn-radius-small #{if params[:fyi] == "true"
        "btn-green"
      else
        "btn-white"
      end}" %></a>
      <a><%= link_to "Lost & Founds", posts_path(filters.merge(lost_founds: !lost_founds)), class: "btn-radius-small #{if params[:lost_founds] == "true"
        "btn-green"
      else
        "btn-white"
      end}" %></a>
      <a><%= link_to "Tips", posts_path(filters.merge(tips: !tips)), class: "btn-radius-small #{if params[:tips] == "true"
        "btn-green"
      else
        "btn-white"
      end}" %></a>
      <a><%= link_to "Issues", posts_path(filters.merge(issues: !issues)), class: "btn-radius-small #{if params[:issues] == "true"
        "btn-green"
      else
        "btn-white"
      end}" %></a>
    </div>
  </div>
</div>
  <div>
    <% @posts.each do |post| %>
      <div class="post-card">
        <div class="post-card-header">
          <div class="post-card-header-avatar">
            <img src="https://images.unsplash.com/photo-1479936343636-73cdc5aae0c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" alt="image" class="avatar-large">
          </div>
          <div class="post-card-header-title">
            <h3><%= post.title %></h3>
            <p> By <%= post.user.first_name %>, posted on <%= post.created_at.strftime("%b %e at %H:%M") %></p>
          </div>
        </div>
        <div class="post-card-body">
          <p><%= post.content %></p>
        </div>
        <div class="post-card-bottom">
          <span data-controller="like" class="d-flex">
              <span data-target="like.count"><%= post.get_likes.size %></span>
                <div><%= link_to "Like", like_post_path(post), data: {action:"click->like#post"}, method: :put, remote: :true %></div>
          </span>
          <p>18</p><i class="fas fa-comment card-bottom-icon"></i>
          <p class= "label-base label-post-type"> <%= post.category%></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
