
<div class="app-header">
   <%= render "shared/header" %>
  <div class="d-flex">
    <div class="link-back-to fleche">
      <%= link_to user_path(@post.user) do %>
      <div class="back-to-page d-flex">
        <i class="fas fa-chevron-left fas-post"></i>
      </div>
      <% end %>
    </div>
    <div class="message-show-illu">
      <%= render "shared/header" %>
      <h1 class="header-icon" >💬</h1>
      <h2 class="text-center pt-0 test2">Post</h2>
    </div>
  </div>
</div>

<div class="body-container">
<div class="post-card post-card-comment">
        <div class="post-card-header">
          <div class="post-card-header-avatar">
            <%= image_tag @post.user.photo, class:"avatar-large" %>
          </div>
          <div class="post-card-header-title">
              <p class="post-user-name"><%= @post.user.first_name %></p>
              <p class="post-date"><%= @post.created_at.strftime("%b %e - %H:%M") %></p>
          </div>
        </div>
        <div class="post-card-body">
          <p class="post-title"><%= @post.title %></p>
          <p class="post-content"><%= @post.content %></p>
        </div>
        <div class="post-card-bottom d-flex justify-content-between">
          <div class="d-flex align-items-center">
          <span data-controller="like" class="post-likes">
              <% if current_user.voted_for? @post %>
                <%= link_to "", like_post_path(@post), class:"fas fa-thumbs-up", data: {action:"click->like#post"}, method: :put, remote: :true %>
              <% else %>
                <%= link_to "", like_post_path(@post), class:"far fa-thumbs-up", data: {action:"click->like#post"}, method: :put, remote: :true %>
              <% end %>
              <span data-target="like.count" class="post-results"><%= @post.get_likes.size %></span>
          </span>
          <div class="d-flex ml-3"></div>
          <div><%= link_to "", post_path(@post), class:"fas fa-comment card-bottom-icon"%></div><p class="post-results"><%= @post.comments.size %></p>
          </div>
          <p class= "label-base label-post-type"> <%= @post.category%></p>
        </div>
      </div>
<div class="comment-container">
  <% if @post.comments.blank? %>
    <p class="no-comment">Be the first to leave a comment!</p>
  <% else %>
    <% @post.comments.order(created_at: :desc).each do |comment| %>
    <div class="comment-card">

      <% if comment.user.photo.attached? %>
      <%= image_tag comment.user.photo, class:"avatar"%>
      <% else %>
        <%= image_tag "avatar-standard.png", class:"avatar" %>
      <% end %>

      <div class="comment-card-body">
        <p class="comment-user-name"><%= comment.user.first_name %> <%= comment.user.last_name %></p>
        <p class="comment-date"><%= comment.created_at.strftime("%b %e at %H:%M") %></p>
        <p class="comment-content"><%= comment.content %></p>
      </div>
    </div>

    <% end %>
  <% end %>
</div>
</div>
  <div class="fixed-comment-bar">
      <%= simple_form_for([ @post, @comment ], :html => { :class => 'form-inline no-shadow no-border justify-content-center' }) do |f| %>
      <%= f.text_field :content, as: :text, placeholder: "Your comment...", label: false, :style => "width:270px;", class: "comment-input-bar" %>
      <%= f.button :submit, "Post", class: "btn-radius btn-white ml-1" %>
    <% end %>
  </div>



