 <div class="app-header">
    <%= render "shared/header" %>
  <h1> <%= cl_image_tag "https://res.cloudinary.com/dk85eoleo/image/upload/w_150/v1606482828/Stuck_at_Home_-_Imagination_tj9nwc.png", alt: "alttext" %> </h1>
  <h2 class="text-center pt-0 test2">Inbox</h2>
</div>


<div class="container">
  <div class="col">
    <div class="inbox-button offset-1">
      <%= link_to "Start a new conversation", new_inbox_path %>
    </div>

  <% @inboxes.each do |inbox| %>
    <div class="inbox-container">
      <div class="row" style="margin-left: 5px;">
        <div class="inbox-title">
          <h2> Subject: <%= inbox.topic %></h2>
        </div>
      </div>
      <div class="row" style="margin-left: 5px;">
        <div class="inbox-participants">
          <p> <strong>Participants</strong><% inbox.participants.first(3).each do |participant|  %>
            <%= participant.user.first_name %> |
          <% end %></p>
        </div>
      </div>
      <div class="row" style="margin-left: 5px;">
      <div class="inbox-date">
        <a> Sent on <%= inbox.created_at.strftime("%b %e") %> </a>
      </div>
      </div>
      <div class="row" style="margin-left: 5px;">
      <div class="inbox-recap">
        <a><%= link_to "See conversation", inbox_path(inbox) %>  </a>
      </div>
    </div>
    </div>
  <% end %>
  </div>
</div>

