<div class="app-header">
  <%= render "shared/header" %>
  <h1 class="page-illu"> <%= cl_image_tag "https://res.cloudinary.com/dk85eoleo/image/upload/w_150/v1606482828/Stuck_at_Home_-_Imagination_tj9nwc.png", alt: "alttext" %> </h1>
  <h2 class="text-center pt-0 test2">Inbox</h2>
</div>


<div class="container">
  <div class="col">
    <div class="inbox-button">
      <%= link_to "Start a new conversation", new_inbox_path %>
    </div>

  <% @inboxes.each do |inbox| %>
    <div class="inbox-container">
      <div class="row" style="margin-left: 5px;">
        <div class="inbox-title">
          <h2> Object: <%= inbox.topic %></h2>
        </div>
      </div>
      <div class="row" style="margin-left: 5px;">
      <div class="inbox-date">
        <a> Last message sent on <%= inbox.created_at.strftime("%b %e") %> </a>
      </div>
      </div>
      <div class="row" style="margin-left: 5px;">
        <div class="inbox-participants d-flex">
          <% inbox.participants.first(3).length %>
          <% first= inbox.participants.first(3).length - 1 %>
          <p> <strong>Participants:&nbsp;</strong><% inbox.participants.first(first).each do |participant|  %>
            <% if participant.user.first_name == current_user.first_name %>
               You, &nbsp;
            <% else %>
              <%=  participant.user.first_name %>, &nbsp;
            <% end %>
          <% end %></p>
          <p>
          <% if inbox.participants[first].user.first_name == current_user.first_name %>
             You
          <% else %>
             <%= inbox.participants[first].user.first_name%>
          <% end %>
          </p>
        </div>
      </div>
      <div class="row" style="margin-left: 5px;">
      <div class="inbox-recap">
        <a><%= link_to "See conversation", inbox_path(inbox) %>  </a>
      </div>
    </div>
    </div>
  <% end %>
  </div>
</div>

