<div class="app-header">
  <h1 class="header-icon" > 📅 </h1>
  <h2 class= "text-center pt-0 test2">New inbox</h2>
</div>
<div class="container">

<%= simple_form_for(@inbox, url: create_direct_message_path) do |f| %>
  <%= f.input :topic, input_html: {value: params[:query]} %>
  <div class="d-none">
    <%= f.input :participants, as: :check_boxes, collection: User.where(id: params[:user_id]).map { |user| [user.first_name, user.id, checked: true ] } %>
  </div>
  <%= f.input :message, as: :text %>
  <%= f.button :submit %>
<% end %>
</div>

