 <div class="app-header">
  <div class="d-flex">
    <div class="link-back-to fleche">
      <%= link_to inboxes_path do %>
      <div class="back-to-page d-flex">
        <i class="fas fa-chevron-left fas-post"></i>
      </div>
      <% end %>
    </div>
    <div class="message-show-illu">
      <%= render "shared/header" %>
      <h1 class="header-icon" >📝</h1>
      <h2 class="text-center pt-0 test2"><%= @inbox.topic  %></h2>
    </div>
  </div>
</div>

<div class="container" id="messages-container" data-user-id="<%= current_user.id %>">
  <% @inbox.messages.each do |message| %>
    <%= render partial: message_sender(message), locals: {message: message, current_user: current_user} %>
  <% end %>

  <div class="new-message">
    <%= simple_form_for [ @inbox, Message.new ], remote: true do |f| %>
      <%= f.input :content, as: :text, :input_html => {:rows => 5}, label: false, placeholder: "Type your response here" %>
      <%= f.button :submit, "Send", class: "btn-radius btn-green btn-block" %>
    <% end %>
  </div>
</div>
