 <div class="app-header">
  <%= render "shared/header" %>
  <h1 class="header-icon" > 📝 </h1>
  <h2 class= "text-center pt-0 test2"><%= @inbox.topic  %></h2>
</div>

<div class="container">
  <% @inbox.messages.each do |message| %>
  <div class="message-container <%= 'current_user' if message.user == current_user %> ">
    <div class="inbox-message">
      <i class="author">
        <div class="avatar_message">
      <% if message.user.photo.attached? %>
      <%= image_tag message.user.photo, class:"avatar"%>
      <% else %>
        <%= image_tag "avatar-standard.png", class:"avatar" %>
      <% end %>
      </div>
      <span><%= message.user.first_name %></span>
      <small><%= message.created_at.strftime("at %k:%M on the %m/%e") %></small>
      </i>
      <p><%= message.content %></p>
    </div>
  </div>
  <% end %>

  <div class="new-message">
    <%= simple_form_for [ @inbox, Message.new ], remote: true do |f| %>
      <%= f.input :content %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
