 <div class="app-header">
  <%= render "shared/header" %>
  <h1 class="header-icon" > 📝 </h1>
  <h2 class= "text-center pt-0 test2"><%= @inbox.topic  %></h2>
</div>

<div class="container" id="messages-container">
  <% @inbox.messages.each do |message| %>
    <%= render partial: message_sender(message), locals: {message: message, current_user: current_user} %>
  <% end %>
</div>

  <div class="new-message">
    <%= simple_form_for [ @inbox, Message.new ], remote: true do |f| %>
      <%= f.input :content %>
      <%= f.button :submit %>
    <% end %>
  </div>
